# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Builds
frontend/dist/
frontend/build/
backend/bootstrap/cache/*

# Laravel
backend/storage/*.key
backend/storage/app/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
